/* This is a CSS file code comment */

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background:papayawhip
}

.me {
    width: 421px;
    height: 680px;
    outline:ridge 2px gainsboro;
}

.header {
    text-align: center;
}

.about {
    text-align: center;
    width: 620px;
    margin: 0 auto;
    font-size: large;
    background: url("./img/img1.png") no-repeat center;
}

.contacts {
    width: 300px;
    height: 148px;
    margin: 0 auto;
    outline: solid 1px black;
}

.cinfo {
    text-align: center;
}

.hobbies {
    margin: 0 auto;
    font-size: larger;
    text-align: center;
    width: 700px;
}

.skills {
    margin: 0 auto;
    height:auto;
    width: 700px;
    outline: 2px dashed black;
}

.languages {
    font-size: larger;
    text-align: center;
    width: 300px;
    height: 165px;
    margin: 0 auto;
    outline: dashed 2px red;
}